<%- include('../cabecalho') -%>
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header"><strong>Patrocinio</strong></div>
                    <div class="card-body">
                        <div class="example">
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-739">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput">Id</label>
                                            <input class="form-control" readonly name="id" id="exampleFormControlInput" type="text" value="<%=Patrocinio.id%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput1">Nome</label>
                                            <input class="form-control" name="titulo" id="exampleFormControlInput1" type="text"
                                                placeholder="Digite o nome da empresa!" value="<%=Patrocinio.nome%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput3">Site</label>
                                            <input class="form-control" name="site" id="exampleFormControlInput1" type="url"
                                                placeholder="Digite o site da empresa!" value="<%=Patrocinio.site%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput4">Evento</label>
                                            <select class="form-control" name="eventoId">
                                                <%Eventos.forEach(function(evento) {%>
                                                <option 
                                                <%if(evento.id == Patrocinio.eventoId) {%>
                                                    selected="selected"
                                                <%}%>
                                                value="<%=evento.id%>"><%=evento.nome%></option>
                                                <%})%>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formFile">Logo</label>
                                            <input class="form-control" name="logo" id="formFile" type="file">
                                        </div> 
                                        <button type="submit" class="btn btn-primary">Editar</button>
                                        <button type="reset" class="btn btn-light">Limpar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../rodape') -%>