<%- include('../cabecalho') -%>
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header"><strong>Palestra</strong></div>
                    <div class="card-body">
                        <div class="example">
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-739">
                                    <form method="post">
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput1">Id</label>
                                            <input class="form-control" readonly name="id" id="exampleFormControlInput1" type="text"
                                                 value="<%=Palestra.id%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput1">Palestra</label>
                                            <input class="form-control" name="titulo" id="exampleFormControlInput1" type="text"
                                                placeholder="Digite o titulo da palestra!" value="<%=Palestra.resumo%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput3">Resumo</label>
                                            <textarea name="resumo" class="form-control" id="exampleFormControlTextarea3" rows="3"><%=Palestra.resumo%></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput1">Carga Horária</label>
                                            <input class="form-control" name="carga" id="exampleFormControlInput1" type="number"
                                                placeholder="Digite a carga horária da Palestra!" value="<%=Palestra.carga%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput6">Data e hora da Palestra</label>
                                            <input class="form-control" name="datahora" id="exampleFormControlInput6" type="datetime-local"
                                                placeholder="Digite a data e hora da Palestra" value="<%=moment(Palestra.datahora).format('YYYY-MM-DDTHH:MM')%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput4">Evento</label>
                                            <select class="form-control" name="eventoId">
                                                <%Eventos.forEach(function(evento) {%>
                                                <option 
                                                <%if(evento.id == Palestra.eventoId) {%>
                                                    selected="selected"
                                                <%}%>
                                                value="<%=evento.id%>"><%=evento.nome%></option>
                                                <%})%>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput4">Ministrantes</label>
                                            <select multiple class="form-control" name="ministranteId">
                                                <% Ministrantes.forEach(ministrante => { %>
                                                    <% let selected = ''; %>
                                                    <% Palestra.ministrantes.forEach(ministrantePalestra => { %>
                                                        <% if (ministrante.id === ministrantePalestra.id) { selected = 'selected'; } %>
                                                    <% }); %>
                                                    <option value="<%= ministrante.id %>" <%= selected %>><%= ministrante.nome %></option>
                                                <% }); %>
                                            </select>
                                        </div>                                     
                                        <button type="submit" class="btn btn-primary">Adicionar</button>
                                        <button type="reset" class="btn btn-light">Limpar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../rodape') -%>