<!DOCTYPE html>
<html lang="pt-br">

<head>
    <base href="/public/">
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nome do Evento</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img src="/admin/imgs/<%=Evento.logo%>" style='max-height: 60px;max-width: 60px;' alt="<%=Evento.logo%>">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a class="nav" href="#sobre">Sobre</a></li>
                        <li><a class="nav" href="#ministrante">Ministrantes</a></li>
                        <li><a class="nav" href="#cronograma">Cronograma</a></li>
                        <li><a class="nav" href="#noticias">Notícias</a></li>
                        <li><a class="nav" href="#contatos">Contatos</a></li>
                    </ul>
                </nav>
                <a href="#" class="primary-btn top-btn"><i class="fa fa-ticket"></i> Inscreva-se</a>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="/admin/imgs/<%=Evento.banner%>">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="hero-text">
                        <span>10 a 12 de Outubro, IFSul - Bagé</span>
                        <h2><%=Evento.frase%></h2>
                        <a href="#" class="primary-btn">Inscreva-se</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Counter Section Begin -- OBS: ESSE CONTADOR FUNCIONA QUANDO ALTERA O MAIN.JS COM A DATA -->
    <section class="counter-section bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="counter-text">
                        <span>Data do Evento</span>
                        <h3>Conte cada segundo <br />até o evento!</h3>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="cd-timer" id="countdown">
                        <div class="cd-item">
                            <span>40</span>
                            <p>Dias</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Horas</p>
                        </div>
                        <div class="cd-item">
                            <span>46</span>
                            <p>Minutos</p>
                        </div>
                        <div class="cd-item">
                            <span>32</span>
                            <p>Segundos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Home About Section Begin -->
    <section class="home-about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src="/admin/imgs/<%=Evento.fotosobre%>" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2 id="sobre">Sobre o Evento</h2>
                        <p><%=Evento.sobre%></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About Section End -->

    <!-- Team Member Section Begin -->
    <section class="team-member-section">
        <div class="container" id="ministrante">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Ministrantes</h2>
                        <p>Estes são os nossos ministrantes, você pode ver as informações de cada pessoa.</p>
                    </div>
                </div>
            </div>
        </div>
        <%Ministrantes.forEach(function(ministrante){%>
            <div class="member-item set-bg" data-setbg="/admin/imgs/<%=ministrante.foto%>">
                <div class="mi-social">
                    <div class="mi-social-inner bg-gradient">
                        <a href="<%=ministrante.facebook%>"><i class="fa fa-facebook"></i></a>
                        <a href="<%=ministrante.instagram%>"><i class="fa fa-instagram"></i></a>
                        <a href="<%=ministrante.twitter%>"><i class="fa fa-twitter"></i></a>
                        <a href="<%=ministrante.linkedin%>"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="mi-text">
                    <h5><%=ministrante.nome%></h5>
                    <span></span>
                </div>
            </div>
        <%})%>
        
        
    </section>
    <!-- Team Member Section End -->

    <!-- Schedule Section Begin -->
    <section class="schedule-section spad">
        <div class="container" id="cronograma">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Cronograma</h2>
                        <p>Não perca nada do evento!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#palestras" role="tab">
                                    <h5>Palestras</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#oficinas" role="tab">
                                    <h5>Oficinas</h5>                                    
                                </a>
                            </li>                                                   
                        </ul><!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="palestras" role="tabpanel">
                                <%Palestras.forEach(function(palestra){%>
                                    <div class="st-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="sc-pic">
                                                        <img src="img/schedule/schedule-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="sc-text">
                                                        <h4><%=palestra.titulo%></h4>
                                                        <ul>
                                                            <%palestra.ministrantes.forEach(function(ministrante){%>
                                                                <li><i class="fa fa-user"></i> <%=ministrante.nome%></li>
                                                                <li><i class="fa fa-envelope"></i> <%=ministrante.email%></li>
                                                            <%})%>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <ul class="sc-widget">
                                                        <li><i class="fa fa-clock-o"></i><%=moment(palestra.datahora).format('DD/MM/YYYY hh:mm')%></li>
                                                        <li><i class="fa fa-map-marker"></i> <%=palestra.carga%> H
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%})%>
                            </div>
                            <div class="tab-pane" id="oficinas" role="tabpanel">
                                <%Oficinas.forEach(function(oficina){%>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/schedule/schedule-1.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="sc-text">
                                                    <h4><%=oficina.nome%></h4>
                                                    <ul>
                                                        <%oficina.ministrantes.forEach(function(ministrante){%>
                                                            <li><i class="fa fa-user"></i> <%=ministrante.nome%></li>
                                                            <li><i class="fa fa-envelope"></i> <%=ministrante.email%></li>
                                                        <%})%>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="sc-widget">
                                                    <li><i class="fa fa-clock-o"></i><%=moment(oficina.datahora).format('DD/MM/YYYY hh:mm')%></li>
                                                    <li><i class="fa fa-map-marker"></i> <%=oficina.carga%> H
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Schedule Section End -->



    <!-- latest BLog Section Begin -->
    <section class="latest-blog spad">
        <div class="container" id="noticias">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Notícias</h2>
                        <p>Não perca nada sobre o evento</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="latest-item set-bg large-item" data-setbg="img/blog/latest-b/latest-1.jpg">
                        <div class="li-tag">SACI</div>
                        <div class="li-text">
                            <h4><a href="./blog-details.html">Estão abertas as inscrições para o evento.</a></h4>
                            <span><i class="fa fa-clock-o"></i> 10 de julho de 2022 </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="latest-item set-bg" data-setbg="img/blog/latest-b/latest-2.jpg">
                        <div class="li-tag">Palestrantes</div>
                        <div class="li-text">
                            <h5><a href="./blog-details.html">O evento contará com grandes nomes</a></h5>
                            <span><i class="fa fa-clock-o"></i> 10 de julho de 2022</span>
                        </div>
                    </div>
                    <div class="latest-item set-bg" data-setbg="img/blog/latest-b/latest-3.jpg">
                        <div class="li-tag">Patrocínios</div>
                        <div class="li-text">
                            <h5><a href="./blog-details.html">A equipe organizadora do evento esta em busca de novos patrocínios</a></h5>
                            <span><i class="fa fa-clock-o"></i> 10 de julho de 2022</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- latest BLog Section End -->



    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container" id="contatos">
            <div class="partner-logo owl-carousel">
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-1.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-2.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-3.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-4.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-5.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-6.png" alt="">
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                        <div class="ft-logo">
                            <a href="#" class="footer-logo"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Ministrantes</a></li>
                            <li><a href="#">Cronograma</a></li>
                            <li><a href="#">Notícias</a></li>
                            <li><a href="#">Contatos</a></li>
                        </ul>
                        <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="ft-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        var timerdate = '<%=moment(Evento.datainicio).format("YYYY-MM-DD")%>'; 

        $("#countdown").countdown(timerdate, function(event) {
            $(this).html(event.strftime("<div class='cd-item'><span>%D</span> <p>Dias</p> </div>" + "<div class='cd-item'><span>%H</span> <p>Horas</p> </div>" + "<div class='cd-item'><span>%M</span> <p>Minutos</p> </div>" + "<div class='cd-item'><span>%S</span> <p>Segundos</p> </div>"));
        });

        $('.nav a[href^="#"]').on('click', function(e) {
  e.preventDefault();
  var id = $(this).attr('href'),
  targetOffset = $(id).offset().top;
    
  $('html, body').animate({ 
    scrollTop: targetOffset - 100
  }, 500);
});
    </script>
</body>

</html>